<nav class="navbar navbar-expand-sm d-flex justify-content-between bg-dark navbar-dark">
  <!-- Brand -->
  <div class="d-flex">
  <a class="navbar-brand" routerLink="/">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a *ngIf= "isAuthenticated()" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Admin
      </a>
      <div class="dropdown-menu">
        <a *ngIf= "isAdmin()" class="dropdown-item" routerLink="/adminCategories">Gestion des catégories</a>
        <a *ngIf= "isUser()" class="dropdown-item" routerLink="/adminProducts">Gestion des produits</a>
        <a *ngIf= "isAdmin()" class="dropdown-item" routerLink="/adminUsers">Gestion des utilisateurs</a>
      </div>
    </li>
  </ul>
</div>
  <ul class="nav navbar-nav ">
    <li>
      <a *ngIf="!isAuthenticated()" class="nav-link" routerLink="/login">Login</a>
      <a *ngIf="isAuthenticated()" class="nav-link" (click)="onLogout()">Logout</a>
    </li>
  </ul>
</nav> 
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <app-categories></app-categories>
    </div>

  <div class="col-md-9">
    <router-outlet>

    </router-outlet>
  </div>
 </div>
</div>
